# Provide a comma separated list of systemd service files that should NOT be alerted on.
# For example, if a particular host should NOT be running firewalld, uncomment the following line.
# ignore_daemons=firewalld.service,fail2ban.service,otherdaemon.service


# By default, services in the ignore_daemons= parameter will not be included
# in the output.  If you want the ignored services to be included in the 
# output and performance data, uncomment the following line.
# include_ignored_daemons_in_output=yes
